div.vex-tabdiv {
  color: #554;
  white-space: pre;
}

div.vex-tabdiv .editor {
  background: white;
  border: 4px solid gray; 
  border-left: 10px solid lightgrey;
  border-radius: 8px;
  padding-top: 10px;
}

div.vex-tabdiv .editor-error .text {
  border: 1px solid red;
  font-size: 12px;
  color: red;
  padding: 3px;
}

div.vex-tabdiv .title {
  font-size: 18px;
  padding: 10px;
  color: #554;
}
